{% extends 'authapp/auth/base.html' %}
{% load static %}

{% block content %}
    <br><br><br>

                    <form accept-charset="UTF-8" role="form" action="{% url 'auth:login' %}" method="post">
                        {% csrf_token %}
                        <fieldset>
                            {% if next %}
                                <input type="hidden" name="next" value="{{ next }}">
                            {% endif %}
                            {{ form.as_p }}
                            <br>
                            <input class="btn btn-primary" type="submit" value="Войти">

                                <a href="{% url 'auth:register' %}"> Зарегистрироваться </a>

<!---->
                        </fieldset>
                    </form>
                    <hr/>

    <br><br><br>

{% endblock %}