{% extends 'authapp/auth/base.html' %}
{% load static %}

{% block content %}

    <br><br><br>

                    <form role="form" method="post" action="{% url 'auth:register' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset>
                            {% csrf_token %}
                            {{ form.as_p }}
                            <br>
                            <input class="btn btn-lg btn-success btn-block" type="submit" value="Зарегистрироваться">
                        </fieldset>
                    </form>
                    <hr/>

    <br><br><br>

{% endblock %}