<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row" style="height: 115px;">

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h4>Контакты</h4>
                    <p>
                        <strong>Phone:</strong> +7 123 123 1231<br>
                        <strong>Email:</strong> support@geekbrains.ru<br>
                    </p>

                </div>

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h4>Поддержка</h4>
                    <p>
                        <a href="{% url 'about' %}" style="color: white" >О нас</a> <br>
                        <a href="{% url 'help' %}" style="color: white" >Помощь</a><br>
                    </p>
                </div>



            </div>
            <div class="copyright">
                &copy; Copyright <strong><span>HabrMirror</span></strong>. All Rights Reserved
            </div>
        </div>
    </div>
</footer>
