{% extends 'authapp/base.html' %}
{% load static %}

{% block content %}
    <br><br><br>
    <div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form accept-charset="UTF-8" role="form" action="{% url 'auth:change_pass' %}" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input class="btn btn-lg btn-success btn-block" type="submit" value="Изменить">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}