{% extends 'authapp/base.html' %}
{% load static %}

{% block head %}
    <div class="h2 text-center head">
        Редактирование профиля
    </div>
{% endblock %}

{% block content %}
    <form class="form-horizontal" action="{% url 'auth:edit' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ edit_form.as_p }}
        <input type="submit" class="btn btn-primary" value="Редактировать">
    </form>
    <hr>
    <a href="{% url 'index' %}">Назад</a>
{% endblock %}