{% extends 'adminapp/base.html' %}
{% load static %}

{% block css %}
<link href="{% static 'adminapp/css/admin_style.css' %}" rel="stylesheet">
{% endblock css %}

{% block content %}
<div class="container items-wrapper overflow-auto h-auto">
    <div class="item-block row">
        <div class="col-sm-1"></div>
        <div class="col-sm-6">
            <form class="form-horizontal" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                {{ form2.as_p }}
                <input class="btn btn-outline-secondary" type="submit" value="Сохранить">
            </form>
        </div>
        <div class="col-sm-5 row">
            <div class="col-sm-12 d-flex align-items-start pt-5 justify-content-center">
                <img src="{% if avatar %}{{ avatar.url}}{% else %}/media/users_avatars/default.png{% endif %}"
                     alt="avatar" class="rounded-circle" width="300">
            </div>
        </div>
    </div>
</div>
{% endblock content %}