{% extends 'adminapp/base.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'adminapp/css/admin_style.css' %}" rel="stylesheet">
{% endblock css %}

{% block content %}
<section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="/">Главная</a></li>
          <li><a href="{% url '_admin:main_admin' %}">Админка</a></li>
          <li>Пользователи</li>
        </ol>
        <h2>Пользователи</h2>

      </div>
</section>

<div class="container items-wrapper overflow-auto h-auto">
    <div class="row">
        <div class="col-sm-12 d-flex justify-content-end ">
            <a href="{% url '_admin:user_create' %}" class="btn btn-outline-secondary m-b20-r10">
                Cоздать пользователя
            </a>
        </div>
    </div>
    {% for user in objects %}
        <div class="item-block shadow row {% if not user.is_active %} is-deleted {% endif %}">
            <div class="col-sm-1 row">
                <div class="col-sm-2">{{ forloop.counter }}</div>
                <div  class="col-sm-10>"><img src="{% if user.avatar %}{{ user.avatar.url}}
                    {% else %}/media/users_avatars/default.png{% endif %}"
                     alt="avatar" class="rounded-circle" width="50">
                </div>
            </div>
            <div class="col-sm-5 row">
                <div class="col-sm-4">
                    <a href="{% url 'auth:profile' user.pk %}" target="_blank" title="К профилю">{{ user.username }}</a>
                </div>
                <div class="col-sm-8"><span>Имя: {{ user }}</span></div>

                <div class="w-100 d-none d-md-block"></div>
                <div class="col-sm-12"><span>{{ user.email }}</span></div>
                <div class="w-100 d-none d-md-block"></div>
                <div class="col-sm-12"><span>{{user.get_role_display}}</span></div>
            </div>
            <div class="col-sm-4 row">
                <div class="col-sm-6"></div>
                <div class="col-sm-6">
                     <form method="POST" class="w-100 mar-b-5" action="{% url '_admin:user_block' user.pk %}">
                            {% csrf_token %}
                            <input class="btn btn-outline-secondary btn-block w-100 d-flex justify-content-center"
                                   type="submit"
                                   value="{% if not user.check_block %}Блокировать{% else %}Снять блокировку{% endif %}">
                        </form>
                </div>

                <div class="col-sm-12">
                    {% if user.check_block %}
                    Заблокирован до: {{user.is_block}}
                   {% endif %}
                </div>
            </div>
            <div class="col-sm-2 row-cols-2">
                {% if request.user.role == 'A' or request.user.is_superuser %}
                    <div class="col-sm-12 mar-b-5">
                        <a href="{% url '_admin:user_update' user.pk %}"
                            class="btn btn-outline-secondary btn-block align-items-start d-b">edit</a>
                    </div>
                {% endif %}
                <div class="col-sm-12">
<!--                    <a href="{% url '_admin:user_delete' user.pk %}"-->
<!--                       class="btn btn-outline-secondary btn-block align-items-end d-b">-->
<!--                        {% if user.is_active %}del {% else %} restore {% endif %}</a>-->
                    <form method="POST" action="{% url '_admin:user_delete' user.pk %}">
                        {% csrf_token %}
                        <input class="btn btn-outline-secondary btn-block align-items-end d-b w-100"
                               type="submit" value="{% if user.is_active %}del {% else %} restore {% endif %}">
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}
    {% include 'adminapp/includes/pagination.html' %}
</div>
{% endblock content %}
