{% extends 'authapp/account/base.html' %}
{% load static %}




{% block contant_right %}
<div class="container_account_main">
    <h2 class="container_account_main_h2">Информация об учётной записи</h2>
    <div class="account_right">
        <form  action="{% url 'auth:account' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ account_form.as_p }}
            <input type="submit" class="btn btn-primary" value="Редактировать">
        </form>
    </div>
</div>
{% endblock %}
