{% extends 'authapp/account/base.html' %}
{% load static %}


{% block contant_left %}
<div class="container_account_main">
    <div class="account_left">
        <a class="account_left_p" href="{% url 'authapp:account' %}">
            <p>Учётная запись</p>
        </a>
        <a class="account_left_p" href="#">
            <p>Хабы</p>
        </a>
        <a class="account_left_p" href="#">
            <p>Уведомления</p>
        </a>
    </div>
</div>
{% endblock %}

{% block contant_right %}
<div class="container_account_main">
    <h2 class="container_account_main_h2">Информация об учётной записи</h2>
    <div class="account_right">
        <form  action="{% url 'auth:account' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ account_form.as_p }}
            <input type="submit" class="btn btn-primary" value="Редактировать">
        </form>
    </div>
</div>
{% endblock %}
