<!DOCTYPE html>
{% load static %}

<html>
    <head>

        <meta charset="utf-8">
        <title>Habrmirror</title>
        {% block css %}
            <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        {% endblock %}

        {% block js %}
        {% endblock %}
    </head>

    <body>

{% include "mainapp/menu.html"%}

        <div class="container_account">
                {% block content_left %}
                {% include "authapp/account/includes/inc_content_left.html" %}
                {% endblock %}

                {% block content %}
                {% endblock %}
        </div>
    </body>
</html>
