{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}

    <!-- ======= Testimonials Section ======= -->
    <br>
    <section id="testimonials" class="testimonials">
        <div class="container">

            <div class="section-title">
                <h2>Участники проекта</h2>
                <p>Студенты принимающие участие в данном проекте.</p>
            </div>

            <div class="row">

                <div class="col-lg-6">
                    <div class="testimonial-item">
                        <img src="https://i.ibb.co/KK01Mm6/female.jpg" class="testimonial-img" alt="">
                        <h3>Анна Мальчикова</h3>
                        <h4>Скрам мастер,разработчик.</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Скрам мастер,разработчик.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="testimonial-item mt-4 mt-lg-0">
                        <img src="https://i.ibb.co/PjpgTsD/2022-05-17-09-39-38.jpg" class="testimonial-img" alt="">
                        <h3> Владимир Норцев</h3>
                        <h4>Разработчик</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Занимался разделом новостей.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="testimonial-item mt-4">
                        <img src="https://i.ibb.co/ZXQ4J5s/defult2.png" class="testimonial-img" alt="">
                        <h3>Владимир Ружелович</h3>
                        <h4>Разработчик</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Разработчик
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="testimonial-item mt-4">
                        <img src="https://i.ibb.co/ZXQ4J5s/defult2.png" class="testimonial-img" alt="">
                        <h3>Мстислав Агафонцев</h3>
                        <h4>Разработчик</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Разработчик.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="testimonial-item mt-4">
                        <img src="https://i.ibb.co/ZXQ4J5s/defult2.png" class="testimonial-img" alt="">
                        <h3>Эдуард Макеев</h3>
                        <h4>Разработчик</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Разработчик.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="testimonial-item mt-4">
                        <img src="https://i.ibb.co/ZXQ4J5s/defult2.png" class="testimonial-img" alt="">
                        <h3>Артем Оболенский</h3>
                        <h4>Разработчик</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Разработчик.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="testimonial-item mt-4">
                        <img src="https://i.ibb.co/ZXQ4J5s/defult2.png" class="testimonial-img" alt="">
                        <h3>Оганес Ароян</h3>
                        <h4>Разработчик</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Разработчик.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Testimonials Section -->

{% endblock content %}