{% extends 'mainapp/base.html' %}
{% load static %}


{% block main %}
<main class="container">

    <div class="container_main">
        <div class="container_main_block">
            <h4 class="container_main_block_title"><b>О нас</b></h4>
            <p class="container_main_block_text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid assumenda consequuntur
                dignissimos, ducimus in natus nihil optio quos sed similique velit vitae? Consequatur
                cupiditate dignissimos eius labore, officia similique veritatis! Commodi dolore ea facere
                id iure minima molestias officiis pariatur perspiciatis praesentium quaerat quas quibusdam
                quo sequi, soluta? Debitis, unde.
            </p>
        </div>
    </div>

    <div class="row">

        <div class="main_center_block">
            <h2 class="main_center_block_title">Все потоки</h2>

            <article class="main_center_block_hab">
                <p class="main_center_block_hab_date_publ">Опубликовал: Mikhail 21.07.2022 в 18:19</p>
                <h3 class="main_center_block_hab_text"><b>Заголовок</b></h3>
                <p class="main_center_block_hab_date_publ">Тема: <a href="#">Веб разработка</a></p>

                <div class="demo">
                    <div class="main_center_block_hab_img_grid">
                        <div class="wrapper">
                            <img class="main_center_block_hab_img" src="{% static 'img/hab_1.jpg' %}">
                        </div>
                    </div>
                </div>

                <h4 class="main_center_block_hab_text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Accusamus, minus qui saepe suscipit vitae voluptates?
                </h4>

                <div class="main_center_block_hab_bottoms">
                    <div class="main_center_block_hab_btm"><a class="main_center_block_hab_btm_a" href="">Лайк</a></div>
                    <div class="main_center_block_hab_btm"><a class="main_center_block_hab_btm_a" href="#">Комментарии</a></div>
                </div>
            </article>

            <hr>

            <article class="main_center_block_hab">
                <p class="main_center_block_hab_date_publ">Опубликовал: Mikhail 21.07.2022 в 18:19</p>
                <h3 class="main_center_block_hab_text"><b>Заголовок</b></h3>
                <p class="main_center_block_hab_date_publ">Тема: <a href="#">Веб разработка</a></p>

                <div class="demo">
                    <div class="main_center_block_hab_img_grid">
                        <div class="wrapper">
                            <img class="main_center_block_hab_img" src="{% static 'img/hab_2.jpg' %}">
                        </div>
                    </div>
                </div>

                <h4 class="main_center_block_hab_text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Accusamus, minus qui saepe suscipit vitae voluptates?
                </h4>

                <div class="main_center_block_hab_bottoms">
                    <div class="main_center_block_hab_btm">
                        <a class="main_center_block_hab_btm_a" href="">Лайк</a>
                    </div>
                    <div class="main_center_block_hab_btm">
                        <a class="main_center_block_hab_btm_a" href="#">Комментарии</a>
                    </div>
                </div>
            </article>

            <hr>

            {% for i in hab %}
                <article class="main_center_block_hab">
                    <p class="main_center_block_hab_date_publ">Опубликовал: {{ i.author }} {{ i.creat_time }}</p>
                    <h3 class="main_center_block_hab_text"><b>{{ i.title }}</b></h3>
                    <p class="main_center_block_hab_date_publ">
                        Тема: <a href="{% url 'category' i.category.id  %}">{{ i.category }}</a>
                    </p>

                    <div class="demo">
                        <div class="main_center_block_hab_img_grid">
                            <div class="wrapper">
                                <img class="main_center_block_hab_img" src="{{ i.photo }}">
                            </div>
                        </div>
                    </div>

                    <h4 class="main_center_block_hab_text">
                        {{ i.body|slice:":150" }}...
                    </h4>

                    <div class="main_center_block_hab_bottoms">
                        <div class="main_center_block_hab_btm">
                            <a class="main_center_block_hab_btm_a" href="">Лайк</a>
                        </div>
                        <div class="main_center_block_hab_btm">
                            <a class="main_center_block_hab_btm_a" href="#">Комментарии</a>
                        </div>
                    </div>
                </article>
            {% endfor %}

            <nav class="blog-pagination" aria-label="Pagination">
                <a class="btn btn-outline-primary rounded-pill" href="#">Старые</a>
                <a class="btn btn-outline-secondary rounded-pill disabled" href="#">Новые</a>
            </nav>
        </div>

        <div class="main_right_block">
            <div class="position-sticky" style="top: 2rem;">

                <div class="padding_blocks">
                    <h4 class="fst-italic main_center_block_title">Архив</h4>
                    <ol class="list-unstyled mb-0">
                        <li><a class="btn btn-outline-primary main_right_block_li" href="#">July 2022</a></li>
                        <li><a class="btn btn-outline-primary main_right_block_li" href="#">June 2022</a></li>
                        <li><a class="btn btn-outline-primary main_right_block_li" href="#">May 2022</a></li>
                        <li><a class="btn btn-outline-primary main_right_block_li" href="#">April 2022</a></li>
                        <li><a class="btn btn-outline-primary main_right_block_li" href="#">March 2022</a></li>
                        <li><a class="btn btn-outline-primary main_right_block_li" href="#">February 2022</a></li>
                        <li><a class="btn btn-outline-primary main_right_block_li" href="#">January 2022</a></li>
                        <li><a class="btn btn-outline-primary main_right_block_li" href="#">December 2021</a></li>
                        <li><a class="btn btn-outline-primary main_right_block_li" href="#">November 2021</a></li>
                        <li><a class="btn btn-outline-primary main_right_block_li" href="#">October 2021</a></li>
                        <li><a class="btn btn-outline-primary main_right_block_li" href="#">September 2021</a></li>
                        <li><a class="btn btn-outline-primary main_right_block_li" href="#">August 2021</a></li>
                    </ol>
                </div>

                <div class="padding_blocks">
                    <h4 class="fst-italic main_center_block_title">Контакты</h4>
                    <ol class="list-unstyled">
                        <li>
                            <a class="btn btn-outline-info rounded-pill main_right_block_li"
                               href="https://github.com/VladSemiletov/habrmirror" style="color: black;">
                                GitHub
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-outline-info rounded-pill main_right_block_li"
                               href="https://discord.gg/qt2JH2g4" style="color: black;">
                                Discord
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>

    </div>

</main>
{% endblock %}
