{% load static %}

<header>
    <div>
        <nav role="navigation">
            <div id="menuToggle">
                <input type="checkbox" />
                <span></span>
                <span></span>
                <span></span>

                <ul id="menu">
                    <li><a href="#">Главная</a></li>
                    {% for cat in categories %}
                    <li><a href="{% url 'hab:hab_category' cat.id %}">{{cat.name}}</a></li>
                    {% endfor %}
                    <li><a href="#">Помощь</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="header_center">
        <a class="header_title"></a>
    </div>
    <div class="header_center">
        <a class="header_title line-after-heading" href="{% url 'hab:main' %}">Habrmirror</a>
    </div>


    <div class="header_right">
        <a class="link-secondary" href="#" aria-label="Search">
            <svg class="mx-3"
                 xmlns="http://www.w3.org/2000/svg"
                 width="20"
                 height="20"
                 fill="none"
                 stroke="currentColor"
                 stroke-linecap="round"
                 stroke-linejoin="round"
                 stroke-width="2"
                 role="img"
                 viewBox="0 0 24 24">
                    <title>Search</title>
                    <circle cx="10.5" cy="10.5" r="7.5"/>
                    <path d="M21 21l-5.2-5.2"/>
            </svg>
        </a>

        {% if user.is_authenticated %}
            <a class="header_right_user" href="{% url 'auth:profile' user.pk %}" aria-label="User">
              <img src="{% static 'img/user_24.png' %}" alt="user">
            </a>

            <a class="btn btn-sm btn-outline-secondary"
                 href="{% url 'authapp:logout' %}"
                 style="--bs-btn-color: white; --bs-btn-font-size: 1rem;">
                Выйти
            </a>
            {% else %}
            <a class="btn btn-sm btn-outline-secondary"
                 href="{% url 'authapp:login' %}?next={{request.path}}"
                 style="--bs-btn-color: white; --bs-btn-font-size: 1rem;">
                Войти
            </a>
        {% endif %}

    </div>
</header>