{% extends 'adminapp/base.html' %}
{% load static %}


{% block css %}
<link href="{% static 'adminapp/css/admin_style.css' %}" rel="stylesheet">
{% endblock css %}

{% block content %}
<section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="/">Главная</a></li>
          <li><a href="{% url '_admin:main_admin' %}">Админка</a></li>
          <li><a href="{% url '_admin:categories' %}">Категории</a></li>
            <li>Редактирование</li>
        </ol>
        <h2>Редактирование</h2>

      </div>
</section>
<div class="container items-wrapper overflow-auto h-auto">
    <div class="row">
        <div class="col-sm-12 d-flex justify-content-end ">
            <a href="{% url '_admin:categories' %}" class="btn btn-outline-secondary m-b20-r10">
                К списку категорий
            </a>
            <a href="{% url '_admin:category_create' %}" class="btn btn-outline-secondary m-b20-r10">
                Создать категорию
            </a>
        </div>
    </div>
    <div class="item-block shadow row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <form class="form-horizontal" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Сохранить" class="btn btn-outline-secondary">
            </form>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>
{% endblock content %}