<div class="container_account_main">
    <div class="account_left">
       <a class="account_left_p" href="{% url 'auth:profile' user.pk %}">
           <p>Данные пользователя</p>
        </a>
        <a class="account_left_p" href="{% url 'hab:list' %}">
            <p>Хабы</p>
        </a><a class="account_left_p" href="{% url 'hab:add' %}">
            <p>Создать Хаб</p>
        </a>
        <a class="account_left_p" href="{% url 'authapp:user_notification' user.pk %}">
            <p>Уведомления</p>
        </a>
        {% if not user.role == 'U' or user.is_superuser %}
          <a class="account_left_p" href="{% url '_admin:main_admin' %}">Админка</a>
          {% endif %}
       </a>
    </div>
</div>