<div class="container_account_main">
    <div class="account_left">
{#        <a class="account_left_p" href="{% url 'auth:profile' user.pk %}">#}
{#            <p>Учётная запись</p>#}
{#        </a>#}
        <a class="account_left_p" href="{% url 'authapp:habs' %}">
            <p>Хабы</p>
        </a>
        <a class="account_left_p" href="{% url 'authapp:messages' %}">
            <p>Уведомления</p>
        </a>
{#        <a class="account_left_p" href="#">#}
{#            <p>Админка</p>#}
{#        </a>#}
    </div>
</div>